/*
*Estudo do flexbox
*@author Paulo Higor Tavares Freire
*email:higor.dev.ifce@gmail.com
*/
/*RESET*/
*{
    margin:0;
    padding:0;
    font-size: 100%;
    box-sizing:border-box;
    font-family: 'Opens Sans Condensend',sans-serif;
}
nav,ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor:pointer;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
}
a:hover{
    opacity:1;
    background-color:blue;
}
/*RESET_END*/
/*HEADER*/
header{
    background: rgba(0,0,0, 0.3);
    width:100%;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header img{
    width: 100px;
}
header nav{
    display: flex;
    
}
header li{

    margin:0 10px;
}
header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0;
}
header li a{
    color:#FFF;
}

/*HERO*/
.hero{
    background-image: url(../img/robo.jpg);
    background-size: cover;
    min-height: 100vh;
    color:rgb(253, 253, 253);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.hero h1{
    font-size: 3.2rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px black;
}
.hero h3{
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
}
.btn{
    background-color: blue;
    color:#FFF;
    border-radius:5px;
    padding: 20px 50px;
    margin:10px;
    text-transform: uppercase;
    font-weight: bold;
}
@media (max-width:700px){
    header{flex-direction: column;}
    header img{margin-bottom: 10px;}
    .hero h1{
        font-size:2.5rem;
    }

    .hero h3{
        font-size: 1.5rem;
    }

}

/*CLASSE PAI*/
.pai{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*FIM DA CLASSE PAI*/
/*CLASSE ELEMENTO*/
.elemento{
    width: 30%;
    height: 50vh;
    margin:10px 10px;
    background-color: #FFF;
    border-radius:10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
}
.elemento img{
    width: 20%;
    height: 15vh;
    background: #333;
    padding: 10px;
    border-radius: 100%;
}
/*FIM DA CLASSE ELEMENTO*/
/*SESSAO PROGRAMACAO*/
#programacao{
    text-align: center;
}
#programacao h1{
    font-size:2rem;
    font-family: sans-serif;
    margin:10px 0;
    padding: 10px;
    color:blue;
    text-transform: uppercase;
}
/*ADICIONANDO RESPONSIVIDADE*/
@media(max-width:700px){
    .elemento{width: 80%;height:70vh;}
}
/*MEDIA QUERY*/
/*FOOTER*/
/*FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 50px 0;
    margin-top: 50px;
    align-items: center;
}
footer ul {
    display: flex;
    margin-bottom: 25px;
}
footer ul li {
    margin-right:10px;
}
footer ul li:last-child{
    margin-right: 0;
}
footer ul li a {
    color: #fff;
    font-size: 2rem;
}
footer p {
    color: #fff;
    text-align: center;
}
/*TIPOGRAFIA*/
